.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: var(--color-dark);
  transition: var(--transition);
}

.burger.active span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.burger.active span:nth-child(2) { opacity: 0; }
.burger.active span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

@media (max-width: 992px) {
  .burger { display: flex; }
  .header__nav,
  .header__cart { display: none; }
}